pip install notify2==0.3.1
pip install spotipy==2.4.4
pip install lyricsgenius==1.4.0
pip install lxml==4.3.3
pip install mutagen==1.41.0
pip install requests==2.21.0
pip install moviepy==0.2.3.5
pip install imageio==2.3.0
pip install humanize==0.5.1
pip install pygame==1.9.6
pip install youtube_dl==2019.7.30
pip install Flask==0.12.2
pip install pytube==9.5.1
pip install PyQt5==5.13.0
pip install beautifulsoup4==4.8.0
